<div class="container">
  <header class="row">
    <div class="col-md-12">
      <h1>お問い合わせ履歴管理システム</h1>
      <p class="description">このシステムはお問い合わせの送信、及び、送信履歴を管理するシステムです。</p>
    </div>
  </header>
  <nav class="row">
    <div class="col-md-12">
      <ul>
        <li><a routerLink="/list">お問い合わせ履歴一覧</a></li>
        <li><a routerLink="/form">お問い合わせフォーム</a></li>
      </ul>
    </div>
  </nav>
  <section class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </section>
  <footer class="row footer">
    <div class="col-md-12">
      <p>© 2017 XXX Corp.</p>
    </div>
  </footer>
</div>
